:root {
  --theme: rgb(154, 3, 30);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.banner {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1604537529428-15bcbeecfe4d?auto=format&fit=crop&w=1350&q=80');
  opacity: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.banner-content h1 {
  color: white;
  font-size: 150px;
  font-family:"Oranienbaum", serif;
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}
.banner-content h3 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  font-family:"Oranienbaum", serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header-logo {
  margin: 4px;
  font-size: 1.6rem;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin: 5px;
  border-radius: 3.2rem;
  border: 1px solid rgb(238, 235, 235);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  /* background-color: #f0f0f0; */
  /* position: fixed; */

}
nav:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}
.nav-menu {
  display: flex;
  justify-content: center;
  margin: 4px;
}
.nav-menu li {
  margin: 0 12px;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  /* color: white; */
}
.nav-link-active {
  color: var(--theme);
  font-weight: 600;
  border-bottom: 5px solid var(--theme);
}


button {
  background-color: var(--theme);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 11px;
  color: white;
  font-weight: 600;
}
.nav-links:hover, button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
  color: var(--theme);
  border: 1px solid var(--theme);
}
.products-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 100px;
  height: 90vh;
}
.products-section div {
  padding: 10px;
  margin: 10px;
  margin-right: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
}
.products-banner {
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}
.products-section > div > p {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--theme);
  text-align: justify;
  text-wrap: wrap; 
}
.custom-login-page, .custom-signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
}
.custom-login-form, .custom-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 400px;
  padding: 30px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.custom-signup-form {
  height: 500px;
}