:root {
  --theme: #00ffcc;
  --secondary-color: rgb(245, 230, 200);
  --background-color: #faf7f7;
  --banner-background: rgb(242, 166, 60);
}

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
}
.banner {
  padding: 20px;
  margin-top: 220px;
  height: 80vh;
  width: 75%;
  background-image: url("../../server/Assets/freestocks-_3Q3tsJ01nc-unsplash.jpg");
  background-size: cover;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.banner-content h1 {
  color: rgb(11, 11, 95);
  font-size: 80px;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  text-align: center;
}
.banner-content h3 {
  color: var(--theme);
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-family: "Manrope", sans-serif;
  /* display: none; */
}

.profile-display {
  background-color: rgb(50, 48, 48);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.custom-search-bar {
  width: 500px;
  height: 50px;
  border-radius: 25px;
  align-self: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.cart-icon {
  font-size: 1.7rem;
  
}
.cart-length {
  background-color: rgb(148, 24, 24);
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 3px 7px;
  position: relative;
  top: -25px;
  left: -23px;
}
.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  font-family: "Inter", sans-serif;
}
.logo-image {
  background-image: url("../public/QB\ Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
}
.title-section {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.custom-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  width: 90%;
  border: 1px solid rgb(162, 158, 158);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--background-color);
}

.header:hover {
  border: 1px, solid, var(--theme);
  cursor: pointer;
}

.custom-nav-item {
  margin: 5px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.custom-nav-link {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}
.custom-nav-link:hover {
  color: black;
  background-color: var(--theme);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.custom-nav-signup-btn {
  border-radius: 12px;
  padding: 15px;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--theme);
  border: 1px solid black;

}
.custom-nav-signup-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dropdown-item:hover {
  background-color: var(--theme);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button {
  background-color: var(--theme);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 9px;
  color: black;
  font-weight: 400;
}
button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--background-color);
  color: black;
  border: 1px solid black;
}
.products-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 80px;
  width: 80%;
}
.products-section div {
  padding: 10px;
  margin: 10px;
  margin-right: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-height: fit-content;
  max-width: 600px;
}
.products-banner {
  height: 450px;
  width: 450px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  padding: 10px;
}
.products-section > div > p {
  font-size: 1.3rem;
  text-align: justify;
  text-wrap: wrap;
}
.custom-login-page,
.custom-signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  height: 100vh;
}
.custom-login-form,
.custom-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: fit-content;
  max-width: 450px;
  padding: 30px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  /* color: var(--theme); */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.custom-signup-form {
  height: 500px;
}
.custom-login-error {
  color: var(--theme);
  font-size: 1.2rem;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 25px;
}
label {
  font-weight: 500;
  color: black;
  font-size: 1rem;
}
.form-control {
  border: 0.2px, solid, black;
}
.custom-footer {
  background-color: rgb(30, 28, 28);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  position: relative;
  top: 50vh;
}
.custom-footer > div > a {
  text-decoration: none;
}
.custom-footer-icons {
  color: white;
  font-size: 35px;
  margin: 25px;
  text-decoration: none;
}
.custom-footer > div {
  margin: 10px;
}
.custom-footer > div > i:hover {
  cursor: pointer;
  text-decoration: underline;
}

i {
  font-size: 1.5rem;
}
i:hover {
  cursor: pointer;
}

/* All Products Page */

.custom-product-page {
  margin-top: 220px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.product-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.product-card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 375px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-price {
  font-size: 1.5rem;
  font-weight: 700;
}
.product-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.product-details {
  margin: 15px;
}
.custom-addToCart-btn {
  width: 70%;
  align-self: stretch;
  border-radius: 25px;
  margin: 15px;
  border: 0.1rem solid black;
}

/* Single product page */
.custom-singleProduct-page {
  margin-top: 220px;
  width: 95%;
  
}
.image-gallery-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 600px;;
}
.product-image-gallery {
  padding: 20px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 475px;
  width: 450px;
}
.product-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.product-layout > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
 
  
}
.product-info {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.product-info > p:nth-child(-n + 2) {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.6rem;

}

.product-info > p:nth-child(n + 3) {
  font-size: 1.2rem;
  font-weight: 400;
  text-wrap: wrap;
  margin-top: 0.6rem;
  
}
.custom-review-btn {
  align-self: flex-start;
  background-color:gold;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 20px;
  text-decoration: underline;
}

.reviews-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;


  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  
}
.reviews-section > h3 {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #f0f0f0;
  width: 70%;
  padding: 10px;
  margin: 0;
  border: 0.1px solid rgb(53, 50, 50);

}
.user-review {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  width: 50%;
  /* background-color: #f9f9f9; */
  margin: 10px;


}

.review-text {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
  line-height: 1.6rem;
  font-style: italic;
}
.user-initial {
  background-color: rgb(219, 124, 8);
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.custom-left-image-btn, .custom-right-image-btn {
  font-size: 2.4rem;
}

.custom-left-image-btn:hover,
.custom-right-image-btn:hover {
  cursor: pointer;
  color: var(--theme);
  transition: all 0.3s ease-in-out;
  font-size: 2.6rem;
}


/* Cart Page */

.cart-page {
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.all-cart-items {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 55%;
  margin: 20px;
}
.order-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  margin: 20px;
  height: fit-content;
}
.order-summary > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.order-summary > h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  width: 100%;
  padding-bottom: 10px;
  text-decoration: underline;

}
.order-summary > button {
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}
.cart-item {
  display: grid;
  grid-template-columns: 200px 2fr 1fr;
  padding: 5px;
  padding-bottom: 20px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-item img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1px;
  
}
.cart-item p {
  font-size: 0.8rem;
  font-weight:500;
  
}
.cart-item div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 1600px) {
  .custom-product-page {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  

}
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
  }
  .products-section {
    width: 100%;
  }
  .title {
    display: none;
  }
  .custom-product-page {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product-card {
    width: 350px;
  }
  .product-image {
    height: 325px;
  }
  .product-image-gallery {
  height: 550px;
  width: 400px;
  }


.product-info {
  width: 400px;
}
.all-cart-items {
  width: 60%;
  margin: 10px;
}
.order-summary {
  width: 40%;
  margin: 10px;
}
.cart-item {
    grid-template-columns: 175px 2fr 1fr;
  }
}

/* 992px */
@media screen and (max-width: 992px) {
  .custom-search-bar {
    width: 300px;
    font-size: 0.9rem;
  }
  .custom-nav-menu {
    font-size: 0.9rem;
    flex-direction: column;
  }
  .header {
    flex-direction: row;
    height: fit-content;
    padding: 15px;
  }
  .custom-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
  }
  .custom-nav-signup-btn {
    margin: 5px;
  }
  .products-section {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .title {
    display: none;
  }
  .logo-image {
    width: 60px;
    height: 40px;
  }
  .custom-product-page {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .cart-page {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .order-summary, .all-cart-items {
    width: 90%;
    margin: 10px;
  }
  .cart-item img {
    height: 100px;
    width: 100px;
  }
  .cart-item {
    grid-template-columns: 175px 2fr 1fr;
  }
  .image-gallery-section {
    width: 60%;
  }
  .product-image-gallery {
    height: 400px;
    width: 300px;
  }
  .product-info {
  width: 300px;
  margin-left: 50px;
}
.product-info > p:nth-child(-n + 2) {
  font-size: 1.5rem;

}

.product-info > p:nth-child(n + 3) {
  font-size: 1rem;
  font-weight: 400;
  text-wrap: wrap;
  margin-top: 0.6rem;
  
}
}

@media screen and (max-width: 768px) {
  .custom-product-page {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .custom-nav-signup-btn {
    padding: 10px;
    font-size: 0.9rem;
  }
  .custom-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-price {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .product-name {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  .custom-nav-signup-btn {
    display: none;
  }
  .custom-product-page {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .product-price {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .product-name {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .cart-page {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
