:root {
  --theme: #a9a9f5;
  --secondary-color: rgb(245, 230, 200);
  --background-color: #faf7f7;
  --banner-background: rgb(242, 166, 60);
}
* {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.banner {
  padding: 20px;
  height: 100vh;
  width: 100%;
  background-image: url("../../server/Assets/freestocks-_3Q3tsJ01nc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.banner-content h1 {
  color: white;
  font-size: clamp(2rem, 8vw, 140px);
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.banner-content h3 {
  color: white;
  font-size: clamp(1.3rem, 3vw, 140px);
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.profile-display {
  background-image: linear-gradient(to right, #a9a9f5, #c39dc6);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.custom-search-bar {
  width: 500px;
  height: 60px;
  border-radius: 30px;
  align-self: center;
  border: 1px solid rgba(0, 0, 0);
  padding: 10px;
}
.custom-search-icon {
  position: relative;
  left: -50px;
  font-size: 1.7rem;
  width: 100px;
  color: var(--theme);
}
.cart-icon {
  font-size: 1.7rem;
  color: black;
}

.cart-length {
  background-color: rgb(148, 24, 24);
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 3px 7px;
  position: relative;
  top: -25px;
  left: -23px;
}
.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  font-family: "Inter", sans-serif;
}
.logo-image {
  background-image: url("../public/QB\ Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
}
.title-section {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.custom-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(162, 158, 158);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--background-color);
}

.header:hover {
  border: 1px solid var(--theme);
  cursor: pointer;
}

.custom-nav-item {
  margin: 5px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.custom-nav-link {
  color: black;
  font-weight: 500;
  font-size: clamp(0.6rem, 2vw, 1.1rem);
  text-decoration: none;
}
.custom-nav-link:hover {
  color: black;
  background-color: var(--theme);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.custom-nav-signup-btn {
  border-radius: 8px;
  padding: 15px;
  color: black;
  font-weight: 500;
  font-size: clamp(0.6rem, 2vw, 1rem);
  text-decoration: none;
  background-color: var(--theme);
  border: 1px solid black;
}
.custom-nav-signup-btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid #4545ba;
  color: #4545ba;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dropdown-item:hover {
  background-color: var(--theme);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button {
  background-color: var(--theme);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 9px;
  color: black;
  font-weight: 400;
  font-size: clamp(0.7rem, 2vw, 1rem);
}
button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
  color: #4545ba;
  font-weight: bold;
  border: 1px solid #4545ba;
}
.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 80px auto;
  max-width: 1200px;
}
.products-comment {
  padding: 10px;
  margin: 10px;
  margin-right: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-height: fit-content;
  max-width: 600px;
}
.products-banner {
  height: 450px;
  width: 450px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  padding: 10px;
}
.products-section > div > p {
  font-size: clamp(0.9rem, 1.5vw, 1.7rem);
  text-align: justify;
  text-wrap: wrap;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.custom-login-page,
.custom-signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #a6a6d8, #b199b3);
  height: 100vh;
}
.custom-login-form,
.custom-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: fit-content;
  max-width: 450px;
  padding: 30px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.custom-signup-form {
  height: 500px;
}
.custom-login-error {
  color: var(--theme);
  font-size: 1.2rem;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 25px;
}
label {
  font-weight: 500;
  color: black;
  font-size: 1rem;
}
.form-control {
  border: 0.2px solid black;
  border-radius: 8px;
  outline: none;
}
.form-control:focus {
  border: 2px solid var(--theme);
  box-shadow: 0px 0px 5px var(--theme);
}
.custom-footer {
  background-color: rgb(30, 28, 28);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin-top: 20vh;
}
.custom-footer > div > a {
  text-decoration: none;
}
.custom-footer-icons {
  color: white;
  font-size: clamp(1.3rem, 3vw, 2rem);
  margin: 25px;
  text-decoration: none;
}
.custom-footer > div {
  margin: 10px;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
.custom-footer > div > i:hover {
  cursor: pointer;
  text-decoration: underline;
}

i {
  font-size: clamp(1.1rem, 2.5vw, 1.7rem);
}
i:hover {
  cursor: pointer;
}
.search-result-page {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 500;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 175px;
  transform: translateX(-50%);
  border: 1px solid black;
  overflow-y: auto;
  scroll-behavior: auto;
  max-height: 80vh;
  min-width: 80%;
}
.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
}
.no-search-results {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  grid-column: span 3;
}
/* All Products Page */

.custom-product-page {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.product-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.product-card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: clamp(0.75rem, 2.5vw, 1.25rem);
  gap: clamp(0.5rem, 1.5vw, 1rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 375px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.product-card:hover {
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.product-price {
  font-size: clamp(1rem, 3vw, 1.6rem);
  font-weight: 600;
  color: var(--theme);
}
.product-name {
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
  font-weight: 400;
  height: 45px;
}
.product-details {
  margin: 8px;
}
.product-rating {
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  margin-top: 1rem;
}
.custom-addToCart-btn {
  width: 70%;
  align-self: stretch;
  border-radius: 25px;
  margin-bottom: 5px;
  border: 0.1rem solid black;
}

/* Single product page */
.custom-singleProduct-page {
  margin-top: 50px;
  width: 95%;
}
.alert {
  border-radius: 5px;
  border: black 1px solid;
  background-color: var(--background-color);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 220px;
  margin: 20px auto;
  text-align: center;
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.alert :nth-child(3):hover {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: red;
}
.image-gallery-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 600px;
}
.product-image-gallery {
  padding: 20px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 475px;
  width: 450px;
}
.product-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.product-layout > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.product-info {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.product-info > p:nth-child(-n + 2) {
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 500;
  margin-top: 0.6rem;
}

.product-info > p:nth-child(n + 3) {
  font-size: 1.2rem;
  font-weight: 400;
  text-wrap: wrap;
  margin-top: 0.6rem;
}
.custom-review-btn {
  align-self: flex-start;
  background-color: gold;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 500;
  margin-left: 20px;
  text-decoration: underline;
}

.reviews-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.reviews-section > h3 {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  font-weight: 600;
  background-color: #f0f0f0;
  width: 70%;
  padding: 10px;
  margin: 0;
  border: 0.1px solid rgb(53, 50, 50);
}
.custom-product-description {
  width: 70%;
  margin: 20px;
  padding-left: 10px;
  text-align: justify;
  font-size: clamp(0.6rem, 2vw, 1.2rem);
}
.user-review {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;

  width: 60%;
  background-color: #f9f9f9;
  margin: 10px;
}

.review-text {
  font-weight: 400;
  font-size: clamp(0.6rem, 2vw, 1rem);
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
  line-height: 1.6rem;
  font-style: italic;
}
.user-initial {
  background-color: rgb(219, 124, 8);
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.custom-left-image-btn,
.custom-right-image-btn {
  font-size: 2.4rem;
}

.custom-left-image-btn:hover,
.custom-right-image-btn:hover {
  cursor: pointer;
  color: var(--theme);
  transition: all 0.3s ease-in-out;
  font-size: 2.6rem;
}

/* Cart Page */

.cart-page {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.all-cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 55%;
  margin: 30px;
}
.order-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  margin: 20px;
  height: fit-content;
}
.order-summary > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.order-summary p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
.order-summary > button {
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  font-size: clamp(0.8rem, 2.5vw, 1.3rem);
  font-weight: 600;
  margin: 10px 0;
}
.cart-item {
  display: grid;
  grid-template-columns: 200px 2fr 1fr;
  padding: 5px;
  padding-bottom: 20px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-item img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1px;
}
.cart-item p {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  font-weight: 400;
}
.cart-item div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* Dashboard Page */

.custom-dashboard-page {
  margin-top: 100px;
  width: 45%;
}

/* About Us Page */
.custom-aboutUs-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
}

.custom-aboutUs-page > h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 600;
  margin-bottom: 20px;
}
.custom-aboutUs-page > p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  text-align: justify;
  margin-bottom: 15px;
}
.alert > p {
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
}

/* Media Queries for responsiveness */

@media screen and (max-width: 1600px) {
  .custom-product-page {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
  }
  .products-section {
    width: 100%;
  }
  .title {
    display: none;
  }
  .custom-product-page {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-card {
    width: 350px;
  }
  .product-image {
    height: 325px;
  }
  .product-image-gallery {
    height: 550px;
    width: 400px;
  }

  .product-info {
    width: 400px;
  }
  .all-cart-items {
    width: 60%;
    margin: 10px;
  }
  .order-summary {
    width: 40%;
    margin: 10px;
  }
  .cart-item {
    grid-template-columns: 175px 2fr 1fr;
  }
  .cart-page {
    width: 90%;
  }
  .custom-dashboard-page {
    width: 70%;
  }
  .search-results {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* 992px */
@media screen and (max-width: 992px) {
  .custom-search-bar {
    width: 300px;
    font-size: 0.9rem;
  }
  .custom-nav-menu {
    font-size: 0.7rem;
    /* flex-direction: column; */
  }
  .header {
    flex-direction: row;
    height: fit-content;
    padding: 15px;
  }
  .custom-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
  }
  .custom-nav-signup-btn {
    margin: 5px;
  }
  .products-section {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .title {
    display: none;
  }
  .logo-image {
    width: 60px;
    height: 40px;
  }
  .custom-product-page,
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .cart-page {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .order-summary,
  .all-cart-items {
    width: 90%;
    margin: 10px;
  }
  .cart-item img {
    height: 100px;
    width: 100px;
  }
  .cart-item {
    grid-template-columns: 175px 2fr 1fr;
  }
  .image-gallery-section {
    width: 60%;
  }
  .product-image-gallery {
    height: 400px;
    width: 300px;
  }
  .product-info {
    width: 300px;
    margin-left: 50px;
  }

  .product-info > p:nth-child(n + 3) {
    font-size: 1rem;
    font-weight: 400;
    text-wrap: wrap;
    margin-top: 0.6rem;
  }
  .custom-dashboard-page {
    width: 80%;
  }
  #checkout-modal {
    grid-template-columns: 1fr;
  }

  .search-results {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .alert {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .custom-product-page {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .banner {
    height: 50vh;
  }
  .custom-nav-signup-btn {
    padding: 10px;
  }
  .custom-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .custom-nav-menu {
    flex-direction: column;
  }
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Single product page */
  .product-layout > div {
    flex-direction: column;
    align-items: center;
  }
  .reviews-section > h3 {
    width: 100%;
    text-align: center;
  }
  .user-review,
  .custom-product-description {
    width: 100%;
  }
  .product-info {
    width: 60%;
    margin-left: 0;
    margin-top: 20px;
  }
  .custom-dashboard-page {
    width: 90%;
  }
  .alert {
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .custom-product-page {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .banner {
    height: 40vh;
  }

  .cart-page {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .custom-username {
    font-size: 0.8rem;
  }
  .custom-search-bar {
    width: 250px;
    font-size: 0.8rem;
  }
  .custom-nav-link {
    font-size: 0.7rem;
  }
  .products {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .search-results {
    grid-template-columns: 1fr;
    width: 90%;
    max-height: 70vh;
  }
  /* Single product page */
  .product-layout > div {
    flex-direction: column;
    align-items: center;
  }
  .reviews-section > h3 {
    width: 100%;
    text-align: center;
  }
  .user-review,
  .custom-product-description {
    width: 100%;
  }
  .custom-dashboard-page {
    width: 90%;
  }
  .alert {
    width: 85%;
  }
}

@media screen and (max-width: 490px) {
  .profile-display {
    flex-direction: column;
    padding: 15px, 10px;
  }
  .profile-display > * {
    margin: 0;
  }

  .custom-search-bar {
    width: 100%;
    max-width: 280px;
    height: 45px;
    font-size: 0.75rem;
  }
  .profile-display > .logo-image {
    display: none;
  }
  .search-results {
    grid-template-columns: 1fr;
    width: 90%;
    max-height: 70vh;
  }
  .banner {
    height: 30vh;
  }
  /* Single product page */
  .product-layout > div {
    flex-direction: column;
    align-items: center;
  }
  .reviews-section > h3 {
    width: 100%;
    text-align: center;
  }
  .user-review,
  .custom-product-description {
    width: 100%;
  }
  .product-info {
    width: 100%;
    margin-left: 0;
    align-items: stretch;
  }

  .custom-dashboard-page {
    width: 90%;
  }
  .cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .cart-item img {
    height: 60px;
    width: 60px;
    display: none;
  }
  .product-image {
    height: 250px;
    margin-bottom: 0.5rem;
  }
  .product-card {
    max-width: 275px;
    min-height: 400px;
  }
  .product-name,
  .product-price,
  .product-details {
    margin-bottom: 0.5rem;
  }

  .search-result-page {
    margin-top: 80px;
  }
  .custom-login-form,
  .custom-signup-form {
    max-width: 90%;
  }
  .custom-login-form *,
  .custom-signup-form * {
    font-size: 0.9rem;
  }
  .custom-signup-form > h4,
  .custom-login-form > h4 {
    font-size: 1.2rem;
  }
  .product-name {
    height: 15px;
  }
  .alert {
    width: 85%;
  }
}
